RewriteEngine On
RewriteRule ^bai-viet/([a-zA-Z0-9-_]+)-([0-9]+).html$ index.php?mod=about&controller=index&id=$1&id=$2
RewriteRule ^bai-viet/([a-zA-Z0-9-_]+)-([0-9]+).html$ index.php?mod=detail&controller=index&id=$1&id=$2
RewriteRule ^trang-chu.html$ index.php?mod=home&controller=index
RewriteRule ^san-pham/([a-zA-Z0-9-_]+)-([0-9]+).html$ index.php?mod=product&controller=index&id=$2&slug=$1
RewriteRule ^san-pham/-([0-9]+).html$ index.php?mod=product&controller=index&action=detail&id=$1
RewriteRule ^san-pham/-([0-9]+).html$ index.php?mod=product&controller=index&action=detail&id=$1
RewriteRule ^([a-zA-Z0-9-_]+).html$ index.php?mod=cart&controller=index




